.task-container {
    width: 95vw;
    height: 80dvh;
    background-color: #ecf0f1;
    border: 10px solid #6e3f09;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-top: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    overflow: auto;
}

.task-card {
    position: relative;
    width: 200px;
    height: 150px;
    transform: rotate(-5deg);
    background-color: #CAC4D0;
    clip-path: polygon(0% 0%, 0% 100%, 84% 100%, 100% 85%, 100% 0%);
    /* Rosa claro */
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border: #131111 1px;
}

.task-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 30px;
    border-color: transparent transparent transparent;
    /* Rosa un poco más oscuro */
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}