<div class="container-fluid min-vh-90 d-flex flex-column justify-content-between p-3">
    <!-- Contenedor centrado -->
    <div class="d-flex justify-content-center align-items-center">
        <div class="task-container row d-flex  justify-content-md-start align-content-md-start" id="notas-container">

        </div>
    </div>

    <div class="container p-3" id="container-paginacion">

    </div>
</div>
<div class="modal-container">
    <!-- Modal  -->
    <div class="modal fade " id="modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #ede6ee;">
                <div class="modal-header d-flex justify-content-center align-items-center">
                    <h5 class="modal-title w-100 text-center" id="modal-label"> </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    <p>Probando el</p>
                </div>
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button> -->
            </div>
        </div>
    </div>
</div>
<!-- style="background-color: #e4d8e9" -->