<div class="container" id="proyectos-container">
</div>

<div class="modal-container">
    <!-- Modal  -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center align-items-center">
                    <h4 class="modal-title w-100 text-center fw-bold text-primary" id="modal-label"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button> -->
            </div>
        </div>
    </div>
</div>
<div id="urls" data-crear-proyecto="{% url 'crear_proyecto_ajax_view' %}"
    data-eliminar-proyecto="{% url 'eliminar_proyecto_ajax_view' %}"
    data-actualizar-proyecto="{% url 'actualizar_proyecto_ajax_view' %}"
    data-listar-proyectos="{% url 'listar_proyectos_ajax_view' %}"
    data-crear-pizarra="{% url 'crear_pizarra_ajax_view' %}"
    data-actualizar-pizarra="{% url 'actualizar_pizarra_ajax_view' %}"
    data-eliminar-pizarra="{% url 'eliminar_pizarra_ajax_view' %}" hidden>
</div>