<h2>Recuperar contraseña</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form">
        {{ form.email }}
        <label for="{{ form.email.id_for_label }}"></label>
    </div>
    <button type="submit" class="btn btn-primary w-100">Enviar enlace de recuperación</button>
</form>

<h2 class="text-center fw-bold">Registro de Usuario</h2>
<div class="py-5 container" style="max-width: 400px; width: 100%;">

    <form method="post">
        {% csrf_token %}

        

        <!-- Campo Usuario -->
        <div class="form">
            {{ form.username }}
            <label for="{{ form.username.id_for_label }}"></label>
        </div>

        <!-- Campo Contraseña -->
        <div class="form">
            {{ form.password }}
            <label for="{{ form.password.id_for_label }}"></label>
        </div>

        <!-- Botón Ingresar -->
        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
    </form>
</div>