{% extends 'usuarios/layout/base_usuarios.html' %}


{% block contenido_main %}

{% load static %}


<a class="ms-2" href="{% url 'login_page' %}">
    <img src="{% static 'src/core/image/volver_atras.svg' %}" alt="Logo" width="24" height="24" class="ms-1 mb-3">
</a>

<h2 class="text-center fw-bold">Recuperar contraseña</h2>

<div class="py-4 container" style="max-width: 400px; width: 100%;">
    <p>
        Ingrese el correo electrónico asociado a su cuenta para restablecer su contraseña.
    </p>
    <form id="emailForm" method="post">
        {% csrf_token %}

        <!-- Campo de email -->
        <div class="form-floating mb-4">
            <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="form-control" placeholder="Correo Electrónico" required>
            <label class="fw-bold" for="{{ form.email.id_for_label }}" style="font-size: 14px;">Correo electrónico</label>
            <div class="position-relative ms-3">
                <div id="emailError" class="error-message position-absolute"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-2">Recuperar contraseña</button>

    </form>
</div>


{% endblock contenido_main %}

{% block extra_js %}

<script type="module" src="{% static 'src/usuarios/password_reset/email_usuario/js/index.js' %}"></script>

{% endblock extra_js %}


