{% extends 'usuarios/layout/base_usuarios.html' %}


{% block contenido_main %}

{% load static %}

<a class="ms-2" href="{% url 'login_page' %}">
    <img src="{% static 'src/core/image/volver_atras.svg' %}" alt="Logo" width="24" height="24" class="ms-1 mb-3">
</a>

<h2 class="text-center fw-bold">Recuperar contraseña</h2>

<div class="py-4 container" style="max-width: 400px; width: 100%;">
    <p>
        Ingrese el correo electrónico asociado a su cuenta para restablecer su contraseña.
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_email" class="form-label"></label>
            <input type="email" name="email" id="id_email" class="form-control fw-bold" placeholder="Introduce tu correo" required>
            {% if form.email.errors %}
                <div class="text-danger">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>
    
        <button type="submit" class="btn btn-primary w-100">Enviar enlace de recuperación</button>
    </form>
</div>


{% endblock contenido_main %}

