{% extends 'usuarios/layout/base_usuarios.html' %}


{% block contenido_main %}


<h2 class="text-center fw-bold">Restablecer contraseña</h2>
<div class="py-4 container" style="max-width: 400px; width: 100%;">
    <p>
        Ingrese y confirme su nueva contraseña para completar el restablecimiento.
    </p>

    <h2>Restablecer contraseña</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar contraseña</button>
    </form>

</div>



{% endblock contenido_main %}