{% extends 'usuarios/layout/base_usuarios.html' %}


{% block contenido_main %}


<h2 class="text-center fw-bold">Correo enviado  </h2>
<div class="py-4 container" style="max-width: 400px; width: 100%;">
    <p>Revisa tu correo electrónico para continuar con el restablecimiento de tu contraseña.</p>
</div>

<!-- Ir a Login Usuario -->
<div class="container d-flex justify-content-center text-center fw-bold">
    <a class="me-2" style="color: #212529; font-weight: bold" href="{% url 'login_page' %}">Volver a Inicio de Sesión</a>
</div>


{% endblock contenido_main %}