{% extends 'usuarios/layout/base_usuarios.html' %}


{% block contenido_main %}


<h2 class="text-center fw-bold">Restablecer contraseña</h2>
<div class="py-4 container" style="max-width: 400px; width: 100%;">
    <p>
        Ingrese y confirme su nueva contraseña para completar el restablecimiento.
    </p>

    <form method="post">
        {% csrf_token %}
        <div class="form">
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
            <label for="{{ form.new_password1.id_for_label }}"></label>
        </div>
    
        <div class="form">
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
            <label for="{{ form.new_password2.id_for_label }}"></label>
        </div>
    
        <button class="btn btn-primary w-100" type="submit">Actualizar contraseña</button>
    </form>


</div>

{% endblock contenido_main %}