{% load static %}

<li class="nav-item me-3 py-1">
    <form id="search-form" method="get">
        <div class="input-group">
            <input class="form-control" type="text" name="search" id="search-input" placeholder="Buscar"
                aria-label="Search" maxlength="30" value="">
            <span class="border-0 input-group-text"
                style="border-top-right-radius: 25px; border-bottom-right-radius: 25px; background-color: #f4edf7"
                id="basic-addon1"> <img src="{% static 'src/core/image/buscar.svg' %}" alt="Logo" width="24" height="24"
                    class="d-inline-block align-text-top">
            </span>
        </div>
    </form>
</li>