{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'listar_proyectos_page' %}">PLANNER PROJECT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll d-none d-lg-block"
                style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                </li>
            </ul>

            <!-- Bloque personalizable dentro del navbar -->
            {% block navbar_content %}
            {% endblock %}

            <!-- Aquí va el ícono de usuario alineado a la derecha -->
            <ul class="navbar-nav ml-auto">

                <!-- Enlace directo para móviles (visible solo cuando el navbar está colapsado) -->
                <li class="nav-item d-lg-none">
                    {% csrf_token %}
                    <div class="d-flex justify-content-start my-1">
                        <img src="{% static 'src/core/image/cerrar_sesion.svg' %}" alt="Logo" width="24" height="24"
                            class="d-inline-block align-text-top">
                        <button class="ms-1" style="border: none; background: none; padding: 0; text-decoration: none; color: black"
                            data-bs-toggle="modal" data-bs-target="#logoutModal">Cerrar sesión</button>
                    </div>
                </li>

                <!-- Aquí va el formulario de busqueda -->
                {% include 'core/components/form_busqueda.html' %}

                <li class="nav-item d-flex justify-content-center align-items-center">
                    <div class="dropdown d-none d-lg-block">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownLink" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{% static 'src/core/image/usuario.svg' %}" alt="Logo" width="24" height="24"
                                class="d-inline-block align-text-top">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownLink">
                            <li class="d-flex justify-content-center">
                                {% csrf_token %}
                                <img src="{% static 'src/core/image/cerrar_sesion.svg' %}" alt="Logo" width="24"
                                    height="24" class="d-inline-block align-text-top me-1">
                                <button
                                    style="border: none; background: none; padding: 0; text-decoration: none; color: black"
                                    data-bs-toggle="modal" data-bs-target="#logoutModal">Cerrar sesión</button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        {% include 'core/components/modal_logout.html' %}

</nav>