{% extends 'core/layout/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'src/reportes/lista_reporte/css/style.css' %}">
{% endblock extra_css %}

{% block titulo %}Reportes{% endblock titulo %}

{% block contenido_main %}
{% include 'reportes/components/reportes.html' %}
{% endblock contenido_main %}

{% block extra_js %}
<script>
    const lapizUrl = "{% static 'src/core/image/lapiz.svg' %}";
    const eliminarUrl = "{% static 'src/core/image/eliminar.svg' %}";
</script>
<script src="{% static 'js/reporte.js' %}"></script>
<script type="module" src="{% static 'src/reportes/lista_reporte/js/index.js' %}"></script>
{% endblock extra_js %}